<link rel="stylesheet" property="stylesheet" href="css/join.css">

<form action="/joinSubmit" method="post" class="joinForm"><!-- 회원가입 Form -->
    <div class="joinItem"><input type="text" name="id" placeholder="ID"></div>
    <div class="joinItem"><input type="Password" name="pw" placeholder="PW"></div>
    <div class="joinItem"><input type="text" name="name" placeholder="Name"></div>
    <div class="joinItem"><input type="text" name="email" placeholder="E-Mail"></div>
    <div class="joinItem"><input type="submit" value="Join"></div>
</form>