.joinForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.joinItem {
    display: block;
    margin-top: 5px;
}
.mypageContainer {
    margin-top: 10px;
}